html {
  background-color: #222;
  color: #ccc;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  scrollbar-gutter: stable both-edges;

  > body {
    display: flex;
    margin: 0 3em;
    justify-content: center;
    gap: 7em;

    > nav {
      flex-shrink: 0;
      position: sticky;
      top: 0;
      align-self: flex-start;

      display: flex;
      flex-direction: column;

      ul {
        margin-top: 0;
        list-style-type: none;
        padding-left: 0;
      }
    }

    > main {
      width: 40em;
    }

  }

}

a {
  color: #2378b9;
  font-weight: bold;

  &:not(:hover) {
    text-decoration: none;
  }
}

pre:has(>code) {
  padding: 1em;
  border-radius: 7px;
  margin-bottom: 2em;
}

:not(pre) > code {
  background-color: #0003;
  padding: 3px;
  border-radius: 3px;
}
