html {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

/* 

html {
  background-color: #222;
  color: #ccc;
  font-family: system-ui;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 3em;
  overflow: hidden;
}

main {
width: 40em;
max-width: 90%;
overflow: auto;
height: 100vh;
}

a {
  color: #19f;
  font-weight: bold;

  &:not(:hover) {
    text-decoration: none;
  }
}

nav {
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

*/
/* 

main {
  > header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    > a > img {
      height: 20px;
    }
  }
}

pre:has(>code) {
  padding: 1em;
  border-radius: 7px;
}

:is(h1, h2, h3) {
  color: #fff;
  margin-top: 2em;
}

:not(pre) > code {
  background-color: #0003;
  padding: 3px;
  border-radius: 3px;
}
  
*/
